---
layout: recipesite
---


  <header class="home-menu"> 
    <nav class="banner-menu">
      <a href="/recipelist">See all</a>
      <a href="/recipes/recipe2/" class="banner-menu-item menu-item" data-img-src="https://images.unsplash.com/photo-1605590955562-be1a5fda4161?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80">Pesto Pasta<span class="menu-item-image"><img src="https://images.unsplash.com/photo-1605590955562-be1a5fda4161?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="Pesto Pasta"  width="100" height="auto" /></span></a>
      <a href="/recipes/recipe1/" class="banner-menu-item menu-item" data-img-src="https://images.unsplash.com/photo-1522200497171-b6fc631e7dad?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80">Peanut Ramen<span class="menu-item-image"><img src="https://images.unsplash.com/photo-1522200497171-b6fc631e7dad?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="Peanut Ramen" width="100" height="auto" /></span></a>
      <a href="/recipes/prawn-paella/" class="banner-menu-item menu-item" data-img-src="https://images.unsplash.com/photo-1630175860333-5131bda75071?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFlbGxhfGVufDB8fDB8fA%3D%3D&w=1000&q=80">Prawn Paella<span class="menu-item-image"><img src="https://images.unsplash.com/photo-1630175860333-5131bda75071?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFlbGxhfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Prawn Paella" width="100" height="auto" /></span></a>
      <a href="/recipes/walnut-and-goat-cheese-salad/" class="banner-menu-item menu-item" data-img-src="https://images.unsplash.com/photo-1522200497171-b6fc631e7dad?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80">Walnut Salad<span class="menu-item-image"><img src="https://images.unsplash.com/photo-1675718341696-552a278c0934?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="Salad" width="100" height="auto"/></span></a>
      <a href="/recipes/shellfish-pie/" class="banner-menu-item menu-item" data-img-src="https://img.taste.com.au/YIavXIcG/taste/2016/11/seafood-pie-27751-1.jpeg">Under The Sea Pie<span class="menu-item-image"><img src="https://img.taste.com.au/YIavXIcG/taste/2016/11/seafood-pie-27751-1.jpeg" alt="ShellPie" width="100" height="auto"/></span></a>
        <div class="menu-item-image-overlay"></div>
      <style width:100%></style>
      </nav>
    </header>

  <section class="post-content">
    <h1 id="{{ page.title | escape }}" class="title">{{ page.title }}</h1>
    {{ content | replace: "../uploads", "/uploads" }}
  </section>

<center><footer class="footani">
  <div class="container">
    <svg viewBox="0 0 960 70">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="50%">A Website Created By Thomas Godfrey</text>
      </symbol>
  
      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>
    </footer> </center>
  <style>
  </style>
