
@font-face {
  font-family: 'Intro Rust Base';
  src: url('IntroRust-Base.eot');
  src: url('IntroRust-Base.eot?#iefix') format('embedded-opentype'),
      url('IntroRust-Base.woff2') format('woff2'),
      url('IntroRust-Base.woff') format('woff'),
      url('IntroRust-Base.ttf') format('truetype'),
      url('IntroRust-Base.svg#IntroRust-Base') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cadbed; /* light blue */
}

.site-title
  {    
    font-family: 'Intro Rust Base', sans-serif;
    letter-spacing: 5px;
    
  }

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #880808; /* dark blue */
  color: #ffcc00; /* white */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

nav {
  background-color: #d1eaf7; /* pale blue */
  padding: 10px;
}

nav a {
  color: #4a90e2; /* dark blue */
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

img {
  max-width: 100%;
  height: auto;
  width:50%;
  float:right;
  margin-left: 15px;
margin-top: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

ol {
  margin: 0;
  padding: 0 0 0 20px;
}

li {
  margin-bottom: 5px;
}

footer {
  background-color: #880808; /* dark blue */
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}

footer p {
  color: #ffcc00; 
  font-family: 'Intro Rust Base', sans-serif;
  
}

body {
  background-color: #e5f1ff; 
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: #880808; 
  color: #ffcc00; 
  font-family: "Helvetica Neue", cursive, sans-serif; 
  padding: 20px;
}

header a {
  color: #ffcc00; 
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

header a:hover {
  background-color: #ffcc00; 
  color: #880808; 
  background: linear-gradient(to right, #880808 50%, #ffcc00 50%);
  background-size: 200% 400%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.header a:hover {
  background-position: left bottom;
}

p {
color:rgb(59, 57, 57);
margin-bottom:1em;
}

main {
width: 60%;
max-width:850px;
padding: 0 12px;
margin:0 auto;
}

ul {
  margin-left: 12px;

}

li {
font-size: .8em;
margin-bottom: 12px;
list-style-position: inside;
}

.caption {
  font-size: .8em;
  float:right;
  width:50%;
  margin-top: 8px;
  font-family: 'Intro Rust Base';
  color: #880808;
}


button {
  background-color: #084679;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  transition: transform 0.2s ease-in-out; 
  text-decoration: none; 
font-family: 'Intro Rust Base', sans-serif;
margin-left: 75px;
}

button a
{
  text-decoration: none; 
 color: antiquewhite;
}

.button a:hover
{

  color: #084679; 
}


button:hover {
  background-color: #ffcc00; 
 
 text-decoration: none; /* take out underline */
 color: #084679; 
font-family: 'Intro Rust Base', sans-serif;
  transform: translateY(-5px); 
}

button:focus {
  outline: none;
}

.title
{
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Intro Rust Base', sans-serif;
  font-size: 3em;
  color:#084679
}

.title:hover
{
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  color: #880808;
  font-family: 'Intro Rust Base', sans-serif;
  font-size: 3em
  }

.site-title
{
text-align: center;
font-size: 45px;
}

.site-title {
  animation: color-change 8s infinite;
}

@keyframes color-change {
  0% { color: #ffcc00; }
  33% { color: #d1eaf7; }
  66% { color: #3f78ff; }
  100% { color: #ffcc00; }
}

.post-content
{
font-weight: 400;
text-align: left;
  text-justify: inter-word;
  margin-bottom: 50px;
}

.post-link
{
text-align: left;
padding: 3px;
text-decoration: none; 
color: #880808;
font-family: 'Intro Rust Base', sans-serif;
}

.post-link:hover {
  background-color: #73a2e9; 
color: #fff;
 background: linear-gradient(to right, #e5f1ff 50%, #880808 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.excerpt
{
padding-top: 5px;
padding-left: 3px;

}

.caption {
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #880808; 
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  pointer-events: none;
}

.caption{
  display: inline-block;
  font-family: 'Intro Rust Base', sans-serif;
  font-size: 96px;
  font-weight: bold;
  color: #ffcc00;
  animation: fade-in 2s forwards;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}


.caption title {
margin-top: 45%;
}

.caption {
  animation: fade-out 7s forwards;
  animation-delay: 3s;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes fade-out {
  from {
    top: 0%; left: 0%; 
    opacity: 1;
  }
  to {
    top: 50% left: 50%; 
    opacity: 0;
  }
}

